name: Checks

on:
  pull_request:
    branches:
      - '*'
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-22.04
    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Run
        run: ./gradlew check

      - name: Upload reports
        uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: test-reports
          path: |
            **/build/reports/tests/

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Run
        run: ./gradlew ktlintCheck

      - name: Upload reports
        uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: lint-reports
          path: |
            **/build/reports/ktlint/

      - name: Set up PHP with cs2pr
        uses: shivammathur/setup-php@v2
        if: ${{ always() }}
        with:
          php-version: 7.3
          coverage: none
          tools: cs2pr

      - name: Report errors in PR
        if: ${{ always() }}
        run: find . -path "./*/build/reports/ktlint/*.xml" -exec cs2pr --graceful-warnings "{}" \;
